html {
  scroll-behavior: smooth;
}

body {
  background-color: #386D3E;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}

.cursor {
    position: absolute;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    border: 2px solid yellow;
}

.cursor {
  position: absolute;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  border: 2px solid yellow;
}
